/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

nav .logo{
  margin-left: 50px;
}

.slider .btn{
  margin-top:20px;
  padding:0 50px;
  border-radius:1%;
}

.section-follow .fa-4x{
  margin: 5px 10px;
}

.pic {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.pic-name {
  color: white;
}

.hide {
  display: none;
}

.show {
  display:block;
}

.item{
  width:100px;
  text-align:center;
  display:block;
  background-color: transparent;
  border: 1px solid transparent;
  margin-right: 10px;
  margin-bottom: 1px;
  float: left;
}

#index-gallery{
  /* width:465px; */
  padding-left: 33%;
}