
#food-group {
    display: none;
    background-color: teal;
    text-decoration: underline;
}



#intro-card {
    -ms-flex-item-align: center;
}

#main-nav {
    background-color: teal;
}
#main-footer {
    background-color: teal;
}
.map {
    height: 400px;
    width: 100%;
}
#logo {
    margin: 0 auto;
    padding-left: 5px;
}

#coord {
    display: none;
}
